<div class="login-container bg-light">
  <div class="login-box">
    <h1 translate>APP_NAME</h1>
    <div>
      <h6 class="d-inline-block">v{{version}}</h6>
      <div class="d-inline-block ml-3" ngbDropdown>
        <button id="language-dropdown" class="btn btn-sm btn-secondary" ngbDropdownToggle>
          {{currentLanguage}}
        </button>
        <div ngbDropdownMenu aria-labelledby="language-dropdown">
          <button class="dropdown-item" *ngFor="let language of languages" (click)="setLanguage(language)">
            {{language}}
          </button>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="card col-md-6 mt-3 mx-auto">
        <div class="card-body">
          <h4 class="card-title text-center">
            <i class="fa fa-3x fa-user-circle-o text-muted"></i>
          </h4>
          <p class="text-xs-center">
            <a [routerLink]="['/login']" *ngIf="authType == 'register'"  translate>Have an account?</a>
            <a [routerLink]="['/register']" *ngIf="authType == 'login'" translate>Need an account?</a>
          </p>
          
          <form [formGroup]="authForm" (ngSubmit)="login()">
              <div class="alert alert-danger" [hidden]="!error || isLoading" translate>
                  Username or password incorrect.
                </div>
            <fieldset [hidden]="isSubmitting">
              <fieldset class="form-group">
                <input
                  formControlName="username"
                  [placeholder]="'Username' | translate"
                  class="form-control form-control-lg"
                  type="text"
                  *ngIf="authType == 'register'" />
                  <span hidden translate>Username</span>
                  <small [hidden]="authForm.controls.username.valid || authForm.controls.username.untouched"
                         class="text-danger" translate>
                    Username is required
                  </small>
              </fieldset>
              <fieldset class="form-group">
                <input
                  formControlName="email"
                  placeholder="Email"
                  class="form-control form-control-lg"
                  type="text" />
                  <span hidden translate>Password</span>
                  <small [hidden]="authForm.controls.password.valid || authForm.controls.password.untouched"
                         class="text-danger" translate>
                    Password is required
                  </small>
              </fieldset>
              <fieldset class="form-group">
                <input
                  formControlName="password"
                  [placeholder]="'Password' | translate"
                  class="form-control form-control-lg"
                  type="password" />
                  <span hidden translate>Password</span>
                  <small [hidden]="authForm.controls.password.valid || authForm.controls.password.untouched"
                         class="text-danger" translate>
                    Password is required
                  </small>
              </fieldset>
              <button class="btn btn-lg btn-primary pull-xs-right" [disabled]="!authForm.valid" type="submit">
                {{ title }}
              </button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
